<p>Index here</p>
<%= link_to "New Project", new_project_path %>

<div class="row span-6">
  <h2>Projects</h2>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, project %></li>
    <% end %>
  </ul>
</div>
